<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">
    <link rel="stylesheet" href="static/bootstrap.min.css" />
    <link rel="stylesheet" href="static/main.css" />
    <link rel="stylesheet" href="static/now-ui-kit.css" />
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,600,700,800&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="https://bit.ly/3di0pdZ"/>
    <script data-ad-client="ca-pub-2999480792077622" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <title>DisSlash</title>
</head>
<body>
<nav class="navbar navbar-expand-lg bg-transparent">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="https://disslash.herokuapp.com">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="https://discord.com/oauth2/authorize?client_id=828612857880903681&permissions=2617371767&scope=bot%20applications.commands">Invite</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="https://discord.gg/qfnS7QvWFm">Support</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="https://www.patreon.com/bePatron?u=54609374">Patreon</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Bot Listings
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="https://top.gg/bot/828612857880903681">Top.gg</a>
                    <a class="dropdown-item" href="https://discordbotlist.com/bots/disslash">Discord Bot List</a>
                    <a class="dropdown-item" href="https://www.botsfordiscord.com/bot/828612857880903681">Bots For Discord</a>
                </div>
            </li>
        </ul>
        <br/>
        <a class="btn btn-outline-secondary my-2 my-sm-0 btn-round btn-sm" href="https://discord.com/oauth2/authorize?client_id=828612857880903681&permissions=2617371767&scope=bot%20applications.commands">Invite</a>
    </div>
</nav>
  
<body>
  <body style="background-color:#7581dc;">
    <div class="container">
      <h1> DisSlash Commands </h1>
      </br>
      </br>
      <div id="accordion">
        <div class="card">
          <div class="card-header">
            <a class="card-link" data-toggle="collapse" href="#collapseOne">
              Moderation
            </a>
          </div>
          <div id="collapseOne" class="collapse" data-parent="#accordion">
            <div class="card-body">
              Some text inside the 1st item
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header">
            <a class="collapsed card-link" data-toggle="collapse" href="#collapseTwo">
            Text Commands
          </a>
          </div>
          <div id="collapseTwo" class="collapse" data-parent="#accordion">
            <div class="card-body">
              Games
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header">
            <a class="collapsed card-link" data-toggle="collapse" href="#collapseThree">
              another one #3
            </a>
          </div>
          <div id="collapseThree" class="collapse" data-parent="#accordion">
            <div class="card-body">
              some text to be shown here
            </div>
          </div>
        </div>
      </div>
    </div>
</body>
</html>
