<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="static/bootstrap.min.css" />
    <link rel="stylesheet" href="static/main.css" />
    <link rel="stylesheet" href="static/now-ui-kit.css" />
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,600,700,800&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="https://bit.ly/3di0pdZ"/>
    <title>DisSlash</title>
</head>
<body>
<nav class="navbar navbar-expand-lg bg-transparent">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/home">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/features">Features</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/statistics">Statistics <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="https://www.patreon.com/bePatron?u=54609374">Patreon</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Bot Listings
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="https://top.gg/bot/828612857880903681">Top.gg</a>
                    <a class="dropdown-item" href="https://discordbotlist.com/bots/disslash">Discord Bot List</a>
                    <a class="dropdown-item" href="https://www.botsfordiscord.com/bot/828612857880903681">Bots For Discord</a>
                </div>
            </li>
        </ul>
        <a class="btn btn-outline-secondary my-2 my-sm-0 btn-round btn-sm" href="https://discord.com/oauth2/authorize?client_id=828612857880903681&permissions=2617371767&scope=bot%20applications.commands">Invite</a>
    </div>
</nav>
<div class="statistics" id="#statistics" >
    <div class="cards">
        <div class="card statistic" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Servers</h5>
                <h1 style="font-weight: bold !important">100+</h1>
            </div>
        </div>
        <div class="card statistic" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Users</h5>
                <h1 style="font-weight: bold !important">100,000+</h1>
            </div>
        </div>
        <div class="card statistic" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Channels</h5>
                <h1 style="font-weight: bold !important">1,000+</h1>
            </div>
        </div>
    </div>
</div>
<div class="start">
    <div class="card">
        <div class="card-body">
            <div class="title">Stat Using DisSlash Now!</div>
            <div class="subtitle">Invite DisSlash To Start Your Adventrue</div>
            <br />
            <a class="btn btn-primary btn-lg" href="https://discord.com/oauth2/authorize?client_id=828612857880903681&permissions=2617371767&scope=bot%20applications.commands" role="button">Invite Here</a>
        </div><br />
    </div>
</div>
<div class="footer">
  <p>Made By Neil & Nouridio<br>
  <p>Email:          <a href="mailto:discorddlsshash@gmail.com">discorddisslash@gmail.com</a></p>
  <p>Discord Server: <a href="https://discord.gg/qfnS7QvWFm">DisSlash Playground</a></p>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="{{url_for('static', filename='now-ui-kit.min.js')}}"></script>
</body>
</html>